body {
}

.row, .col {
    --bs-gutter-x: 0 rem !important;
    margin: 0;
    position: inherit;
}

.dashboard-container {
    color: white;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: #000d4a url('Pictures/dashboard/bg.jpg') center top;
    background-size: cover;
    display: grid;
    /*grid-template-rows: 50px 0.5fr 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 8% 7% 18% 18% 23% 23% 3%;*/
    grid-template-rows: 13% 11% 35% 37% 4%;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
}

.item {
    text-align: center;
    border: 2px solid #0F2D55;
    /*font-weight: bold;*/
}

    .item:nth-child(1) {
        background: url('Pictures/dashboard/head_bg.png') no-repeat center center;
        background-size: 100% 100%;
        position: inherit;
        grid-row: 1 / 2;
        grid-column: 1 / 4;
    }

    .item:nth-child(2) {
        /* x号机：历史七天拆料明细（柱状图）*/
        /* background: rgba(0, 0, 0, 0.3);*/
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

    .item:nth-child(3) {
        /* x号机：机种，料号，工单*/
        background: #000d4a;
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .item:nth-child(4) {
        /* x号机：机种，料号，工单*/
        background: #000d4a;
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .item:nth-child(5) {
        /* X号机：实时loading rate*/
        /* background: rgba(0, 0, 0, 0.3);*/
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    .item:nth-child(6) {
        /* x号机：散点图（CT）*/

        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }

    .item:nth-child(7) {
        /*  x号机：合盘饼图*/
        /* background: #000826;*/
        /*background: rgba(0, 0, 0, 0.3);*/
        grid-row: 4 / 5;
        grid-column: 2 / 3;
    }

    .item:nth-child(8) {
        /*  x号机：合盘饼图*/
        /* background: #000826;*/
        /*background: rgba(0, 0, 0, 0.3);*/
        grid-row: 4 / 5;
        grid-column: 3 / 4;
    }

    .item:nth-child(9) {
        /*  x号机：合盘饼图*/
        /* background: #000826;*/
        /*background: rgba(0, 0, 0, 0.3);*/
        grid-row: 5 / 6;
        grid-column: 1 / 4;
    }
img {
    border: none;
    max-width: 100%;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: 'Cambria';*/
    font-weight: bold;
}

#footer {
    color: #999;
}
