<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 Web.config 转换的详细信息，请访问 https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下例中，“SetAttributes”转换将更改
    “connectionString”的值，仅在“Match”定位器找到值为“MyDB”的
    特性“name”时使用“ReleaseSQLServer”。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<appSettings>
		<add key="RedisConfiguration" value="localhost:6379,password=SMDi4.0AP,ConnectTimeout=10000,abortConnect=false" 
			  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="IsDebugMode" value="false"
			  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
	</appSettings>
	<connectionStrings>
		<add name="ZJ_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User ID=EAP;Password=EAP123;pooling=true;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 10.5.1.168)(PORT = 1521))) (CONNECT_DATA = (SID = SMDADC)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="AutoReel_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User ID=USI_AUTO_REEL;Password=USI_AUTO_REEL123;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 10.5.1.243)(PORT = 1521))) (CONNECT_DATA = (SID = SPC)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="SX_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User ID=EAP;Password=EAP123;pooling=true;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 10.5.128.204)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="JQ_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=EAP;Password=EAP123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.5.1.196)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="HZ_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=EAP;Password=EAP123;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.5.36.224)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="GDL_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=EAP;Password=EAP123;Pooling = True;Max Pool Size = 10;Min Pool Size = 1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.1.2.138)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=smddb)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="HPH_Oracle_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=EAP;Password=EAP123;Pooling = True;Max Pool Size = 10;Min Pool Size = 1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.5.1.24)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		
		<add name="JQ_OTMS_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=USI_OTMS;Password=USI_OTMS123;Pooling = True;Max Pool Size = 10;Min Pool Size = 1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.5.1.196)(PORT=1521)))(CONNECT_DATA=(SID=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		<add name="HPH_OTMS_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User Id=USI_OTMS;Password=USI_OTMS123;Pooling = True;Max Pool Size = 10;Min Pool Size = 1;Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.5.1.24)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=SMDDB1)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

		<add name="ZJ_WMS_DB" providerName="Oracle.ManagedDataAccess.Client"
			   connectionString="User ID=USI_WMS;Password=WMS123;pooling=true;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST =  10.5.1.168)(PORT = 1521))) (CONNECT_DATA = (SID = SMDADC)))"
		  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
		
	</connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在以下示例中，"Replace" 转换将替换 Web.config 文件的
      整个 <customErrors> 节。
      请注意，由于在 <system.web> 节点下只有一个
       customErrors 节，因此无需使用 "xdt:Locator" 属性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
