
@model EAPPlatform.ViewModel._Admin.FrameworkUserVMs.FrameworkUserBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/_Admin/FrameworkUser/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> @Localizer["Sys.BatchEditConfirm"]</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.Email"/>
    <wt:combobox field="LinkedVM.Gender" id="g6f307c927eb84408a35a8daf70e57098"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.CellPhone"/>
    <wt:textbox field="LinkedVM.HomePhone"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.Address"/>
    <wt:textbox field="LinkedVM.ZipCode"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.SelectedFrameworkRoleFrameworkUser_MT_WtmsIDs"  item-url="/_Admin/FrameworkUser/GetFrameworkRoles" id="gba21f0f51ecf401bb3c7cd3349654d6c"/>
    <wt:combobox field="LinkedVM.SelectedFrameworkGroupFrameworkUser_MT_WtmsIDs"  item-url="/_Admin/FrameworkUser/GetFrameworkGroups" id="g6ee4c9de7db64d62b130fb6b6d287f03"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"]"/>
    <wt:closebutton  text="@Localizer["Sys.Close"]"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


