@*<a href="/Statistics/EquipmentDashboard/dashboard" target="/Statistics/EquipmentDashboard/dashboard">报表</a>*@
<a href="/Statistics/OtmsDashboard/dashboard" target="/Statistics/OtmsDashboard/dashboard">OTMS Overall</a>
