<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/sitecss/statistics/accdashboard_all.css">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css">
    <link rel="shortcut icon" href="/favicon.ico" />


    <link rel="stylesheet" href="/bootstrap-5.1.3-dist/css/bootstrap.min.css" />
    <style>
        .alarmlist table tr th {
            background-color: #010d4a;
            cursor: pointer;
            color: white;
            font-size: 10px;
        }

        .alarmlist table tr td {
            background-color: #010d4a;
            cursor: pointer;
            color: white;
        }

    </style>

</head>


<body>
    <script src="/jquery.min.js"></script>
    <script src="/echarts/echarts.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/three.js"></script>
    <script src="/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        
         layui.use(['carousel', 'form', 'slider', 'laydate', 'element'], function () {
             //var carousel = layui.carousel

             var  form = layui.form
                 , laydate = layui.laydate
                 , slider = layui.slider
                 , element = layui.element,
                 table = layui.table;
             var c_option = {
                 elem: '.carousel'
                 , width: '100%' //设置容器宽度
                , height: '100%'
                 , arrow: 'always' //始终显示箭头
                 , interval: 100000
                 , indicator: 'outside'

             }


             //console.log(rs);

             //carousel.render(c_option);
             const toastTrigger = document.getElementById('liveToastBtn')
             const toastLiveExample = document.getElementById('liveToast')

             if (toastTrigger) {
                const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample)
                toastTrigger.addEventListener('click', () => {
                    console.log(toastBootstrap)
                   toastBootstrap.show()
                })
             }

             var selectweek = $("#weekFilter option:selected").val();
             var startdatetime = "@DateTime.Today.ToString("yyyy-MM-dd")";
             var enddatetime = "@DateTime.Today.ToString("yyyy-MM-dd")";
             var week;

             $(".startdateselect").change(function(){
                     startdatetime = $(this).val();

                     //console.log("starttime:" + startdatetime);
             });
             $(".enddateselect").change(function(){
                     enddatetime = $(this).val();

                     //console.log("enddatetime:" + enddatetime);
             });
             $(".weekselect").change(function(){
                     week = $(this).val();

                     //console.log("week:" + week);
             });
             $("#recordstartend").click(function(){

                 /*
                 if(startdatetime>=enddatetime){
                     alert('开始时间不能大于结束时间!');
                 }else{
                     if(confirm("是否确认添加开线时间："+startdatetime+"~" +enddatetime+" ?")){
                         setStartEnd(startdatetime,enddatetime);
                     }

                 }
                  */

                 layer.open({
                    title: '新增开线时间'
                    , type: 2
                    , btn: ['确定', '取消']
                    , content: '/Statistics/ACCBoxDashboard/setWeek'
                    , area: ['40%', '50%']
                    , success: function (layero, index) {
                        //向layer页面传值，传值主要代码
                        //   var body = layer.getChildFrame('body', index);
                        var body = layer.getChildFrame('body', index);
                        //var select = document.getElementById("eqp");
                        //var options = select.options;
                        //var index = select.selectedIndex;
                        body.find("[id='line']").val('ACC-BOX');
                    }
                    , yes: function (index) {
                        var res = window["layui-layer-iframe" + index].callback();
                        var data = JSON.parse(res);
                        //console.log(data);
                        if (data.start >= data.end) {
                            layer.msg('错误：开线时间大于结束时间！');
                        } else {
                            //console.log(data);
                            // layer.msg(res);
                            //layer.msg('新增设备功能未开放');
                            setStartEnd(data.start,data.end,data.idleduration);
                            layer.close(index);
                        }

                     }, btn2: function (index, layero) {
                            layer.msg('取消操作');
                     }

                });
             });
             $(".exportAlarm").click(function(){
                 //console.log(week)
                 ExportData(week);
             })
             $("#weekFilter").change(function(){
                 selectweek = $(this)
                    .find("option:selected")
                    .text();
                 //getLatestAlarmRate(selectweek);


             });

             $(".exportdata").click(function(){
              var week = $("#weekFilter").val();
              //var date =$(".dateselect").val();
              //console.log(EQID,date);
              ExportData(week);


             });




             //getLatestAlarmRate();
             GetHistoryAlarmRate();
             //getWeek();
             GetStatus();
             ChartssetInterval();

             function getLatestAlarmRate(selectweek) {
                     $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {
                             "selectweek":selectweek
                         },
                         url: '/Statistics/ACCBoxDashboard/GetAlarmRate',
                         success: function (retdata) {

                             var eqdata = retdata.eqdata;
                             var eqids = retdata.eqids;
                             var alarmrates = retdata.alarmrates;
                             var starttime = retdata.starttime;
                             var endtime = retdata.endtime;
                            var alarmtimes = retdata.alarmtimes;
                            var duration = starttime +"~" + endtime;
                            var maxtime = retdata.maxtime;
                            var maxrate = retdata.maxrate;
                           gettrendchart('trendchart', alarmrates,eqdata,alarmtimes,duration,maxtime,maxrate);
                           console.log(eqids[0])
                           getAlarmDetails(eqids[0],selectweek);
                           week = selectweek;




                         },
                         error: function () {

                         }
                     });

             }

             function setStartEnd(starttime,endtime,idleduration) {
                     $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {
                             "starttime":starttime,
                             "endtime":endtime,
                             "idleduration":idleduration
                         },
                         url: '/Statistics/ACCBoxDashboard/SetStartEnd',
                         success: function (retdata) {

                             var eqdata = retdata.eqdata;
                             var alarmrates = retdata.alarmrates;
                             var starttime = retdata.starttime;
                             var endtime = retdata.endtime;
                            var alarmtimes = retdata.alarmtimes;
                            var duration = starttime +"~" + endtime;
                            var maxtime = retdata.maxtime;
                            var maxrate = retdata.maxrate;
                           gettrendchart('trendchart', alarmrates,eqdata,alarmtimes,duration,maxtime,maxrate);





                         },
                         error: function () {

                         }
                     });

             }
             function getWeek() {
                 $.ajax({
                     type: 'post',
                     dataType: 'json',
                     data: {

                     },
                     url: '/Statistics/ACCBoxDashboard/GetWeek',
                     success: function (retdata) {


                          $("#weekFilter").html(retdata.option);
                          //getLatestAlarmRate(retdata.latestweek);



                     },
                     error: function () {

                     }
                 });

             }
             function GetHistoryAlarmRate() {
                     $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {

                         },
                         url: '/Statistics/ACCBoxDashboard/GetHistoryAlarmRate',
                         success: function (retdata) {

                             var weekdata = retdata.weekdata;
                             var totaltimes = retdata.totaltimes;
                             var totalrates = retdata.totalrates;
                             var maxtime = retdata.maxtime;
                             var maxrate = retdata.maxrate;

                           gethistorychart('historychart', totalrates,weekdata,totaltimes,maxtime,maxrate);
                           getLatestAlarmRate(weekdata[weekdata.length-1]);
                         },
                         error: function () {

                         }
                     });

             }
             function GetStatus() {
                     $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {

                         },
                         url: '/Statistics/ACCBoxDashboard/GetStatus',
                         success: function (retdata) {
                             var eqpProfile = retdata.eqpProfiles
                             console.log(eqpProfile)
                             var statusdata = retdata.status;
                             var outputdata = retdata.outputs;
                             var yielddata = retdata.yields;
                             //console.log(outputdata);
                             //console.log(yielddata);
                             GenerateStatusCard(eqpProfile,outputdata,yielddata);
                         },
                         error: function () {

                         }
                     });

             }
             //getStatusDetails();
             function getStatusDetails(){
                 $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {
                             "week":week
                         },
                         url: '/Statistics/ACCBoxDashboard/GetStatusDetails',
                         success: function (retdata) {
                             var chartdata = retdata.chartdata;
                            getdatechart('datechart', chartdata);




                         },
                         error: function () {

                         }
                     });
             }
             function GenerateStatusCard(eqpdata,outputdata,yielddata){
                 var pagecount = eqpdata.length / 14;
                 var pageText = '<div class="row">';
                 for (var page = 0; page < pagecount; page++) {



                    for (var cardnum = page * 14; cardnum < (page + 1) * 14 && cardnum < eqpdata.length; cardnum++) {
                        var eqp = eqpdata[cardnum];
                        var sysStateColorMap = new Map([['Unknown', 'form-control bg-secondary'], ['Idle', 'form-control bg-warning']
                            , ['Run', 'form-control bg-success'], ['Alarm', 'form-control bg-danger']
                        ]);

                        var stateColor = sysStateColorMap.get(eqp.Status);
                        var name = eqp.EQID;
                        var output = "";
                        var yields = "";
                        //for(var i = 0 ; i < outputdata.length ; i ++ ){
                        //    var eqpoutput = outputdata[i];
                        ////console.log(eqpoee);

                        //    if(eqp.EQID == eqpoutput.EQID) {
                        //        output = eqpoutput.Value;
                        //        break;
                        //    //console.log(eqp.oee);
                        //    //console.log(eqpoee.EQID);
                        //    //console.log(oee);
                        //    }


                        //}
                        //for(var i = 0 ; i < yielddata.length ; i ++ ){
                        //    var eqpyield = yielddata[i];
                        //    if(eqp.EQID == eqpyield.EQID) {
                        //        yields = eqpyield.Value + "%";
                        //        break;
                        //    }
                        //}

                        pageText //+= '<div class="col-2" style = "padding:0;height:10%">'
                            //+ '<div class="box-status " style="height: 80%;  ">'
                            += '<input type = "text" class="col-2 ' + stateColor + '" value = "'+name+'" style="border:none;color: white; font-size:0.85rem; text-align:center;height:10%;width:12%; margin:1%" readonly>'

                            //+ '<div class="layui-card-body" style="opacity:1; height: 75% ">'
                            //+ '<div style="color: white; font-size:1rem;">Output: ' + output + '</div>'
                            //+ '<div style="color: white;font-size:1rem;">Yield: ' + yields + '</div>'
                            //+'</div></div>';
                    }
                        pageText += ' </div>';
                    }


                    document.getElementById("statuscontent").innerHTML = pageText;
             }
             function ExportData(week) {
                 var params = {"week":week}
                 $.ajax({
                     type: 'post',
                     data: {

                         "week": week

                     },
                     url: '/Statistics/ACCBoxDashboard/ExportDataByWeek',
                     success: function (response,status,request) {

                           var disp = request.getResponseHeader('Content-Disposition');
                           if(disp && disp.search('attachment' != -1)){
                               var form = $('<form method="POST" action="' + '/Statistics/ACCBoxDashboard/ExportDataByWeek' + '">');
                               $.each(params, function(k, v) {
                                   form.append($('<input type="hidden" name="' + k +
                                   '" value="' + v + '">'));
                               });
                               $('body').append(form);
                               form.submit();
                           }
                         },
                         error:function(err){
                             console.log(err)
                         }
                 });

             }
             function getAlarmDetails(EQID,week){
                     $.ajax({
                         type: 'post',
                         dataType: 'json',
                         data: {
                             "EQID":EQID,
                             "week": week
                         },
                         url: '/Statistics/ACCBoxDashboard/GetAlarmDetails',
                         success: function (retdata) {
                           //alert(retdata.result);
                           var alarmlist = retdata.alarmList;
                           var alarmall = retdata.alarmtotal.totalalarmtime;
                           var codelist = retdata.alarmtotal.totalcodelist;
                           var textlist = retdata.alarmtotal.totalcodetext;
                           var alarmpie = retdata.alarmtotal.totalalarmpie;
                           //console.log(codelist);
                           getcodechart('codechart',alarmall,codelist,textlist,'bar',week,EQID);
                           getcodepie('codepie',alarmpie,codelist,textlist,'pie');
                         },
                         error: function () {
                            alert("error!");
                         }
                     });
             }


             function ChartssetInterval() {
                //每1分钟刷新一次界面
                setInterval(function () {
                    GetStatus();
                }, 30000);
             }

             function gettrendchart(id, trendYield,trenddates,alarmtimes,duration,maxtime,maxrate) {
                var chartDom = document.getElementById(id);
                var myChart = echarts.init(chartDom);
                //var maxtimes = (double) maxtime;
                $(window).on('resize', function () {//
                 //屏幕大小自适应，重置容器高宽
                    chartDom.style.width = window.innerWidth * 0.6 + 'px';
                    chartDom.style.height = window.innerHeight * 0.4 + 'px';
                    myChart.resize();
                });
                chartDom.style.width = window.innerWidth * 0.6 + 'px';
                chartDom.style.height = window.innerHeight * 0.4 + 'px';

                var option;

                option = {
                    title: {

                        text: duration,
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    legend: {
                        data: ['Rate','Time'],
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    grid: {

                    },
                    xAxis: {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        data: trenddates,
                        axisLine: {
                            lineStyle: {
                               color: "#fff",
                            }
                        }
                   },
                   yAxis: [
                       {
                           type: 'value',
                           name: 'Rate',
                           position: 'left',
                           min: 0,
                           max: maxrate,
                           splitLine: {     //网格线
                               show: true,
                               lineStyle: {
                                  color: '#22376d'
                               }
                           },
                           axisLine: {
                               lineStyle: {
                                  color: "#fff",
                               }
                           },
                           axisLabel: {
                               formatter: '{value} %'
                           }
                       },
                       {
                           type: 'value',
                           name: 'Time',
                           position: 'right',
                           min: 0,
                           max: maxtime,
                           splitLine: {     //网格线
                               show: false,
                               lineStyle: {
                                  color: '#22376d'
                               }
                           },
                           axisLine: {
                               lineStyle: {
                                  color: "#fff",
                               }
                           },
                           axisLabel: {
                               formatter: '{value} min'
                           }
                     }
                     ],
                   series: [
                     {
                         name: 'Rate',
                         type: 'line',
                         data: trendYield,
                         label: {
                             show: true,
                             position: 'top',
                             color:'white',
                             formatter: '{c} %'
                         },
                         lineStyle:{
                             color:'yellow'
                         }

                     },
                     {
                         name: 'Time',
                         type: 'bar',
                         yAxisIndex: 1,
                         data: alarmtimes,
                         label: {
                             show: true,
                             position: 'top',
                             color:'white',
                             formatter: '{c} min'
                         },
                         lineStyle:{
                             color:'yellow'
                         }
                     }

                    ]
                };
                option && myChart.setOption(option);
                myChart.resize();
                myChart.on('click',function(param){
                    var stationID
                    if(param.name == 'FCT1'){
                        stationID='FCT101'
                        getAlarmDetails(stationID,week);
                    }
                    if(param.name == 'FCT2'){
                        stationID='FCT201'
                        getAlarmDetails(stationID,week);
                    }
                    else{
                        getAlarmDetails(param.name,week);
                    }
                    /* old method
                    var url = '/Statistics/ACCboxDashboard/alarmdetails?EQID='+param.name+'&week='+week;

                    layui.use([], function () {

                        layer.open({
                            title: 'Alarm Details'
                            , type: 2
                            , btn: ['确定']
                            , content: url //'/Dashboard/BoxDetails'
                            , area: ['90%', '90%']
                            , id:'layer_alarmlist'
                            , success: function (layero, index) {
                                ////向layer页面传值，传值主要代码
                                var body = layer.getChildFrame('body', index);
                                body.find("[id='week']").val(week);
                                body.find("[id='equipment']").val(param.name);
                                //body.find("[id='datepicker']").val($("#datepicker").val());
                            }
                            , yes: function (index) {
                                layer.close(index);
                            }

                        });

                    });
                    */
                })

             }
            function gethistorychart(id, trendYield,trenddates,alarmtimes,maxtime,maxrate) {
                var chartDom = document.getElementById(id);
                var myChart = echarts.init(chartDom);

                $(window).on('resize', function () {//
                    //屏幕大小自适应，重置容器高宽
                    chartDom.style.width = window.innerWidth * 0.6 + 'px';
                    chartDom.style.height = window.innerHeight * 0.4 + 'px';
                    myChart.resize();
                });
                chartDom.style.width = window.innerWidth * 0.6 + 'px';
                chartDom.style.height = window.innerHeight * 0.4 + 'px';

                var option;

                option = {
                title: {
                    text: "Alarm Rate Trend",
                    textStyle:{
                        color:"#fff"
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross'
                    }
                },
                legend: {
                    data: ['Rate','Time'],
                    textStyle:{
                        color:"#fff"
                    }
                },
                grid: {},
                xAxis: {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    data: trenddates,
                    axisLine: {
                        lineStyle: {
                            color: "#fff",
                        }
                    }
                },
                yAxis: [
                    {
                        type: 'value',
                        name: 'Rate',
                        position: 'left',
                        min: 0,
                        max: maxrate,
                        splitLine: {     //网格线
                            show: false,
                            lineStyle: {
                                color: '#22376d'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                            color: "#fff",
                            }
                        },
                        axisLabel: {
                            formatter: '{value} %'
                        }
                   },
                   {
                       type: 'value',
                       name: 'Time',
                       position: 'right',
                       min: 0,
                       max: maxtime,
                       splitLine: {     //网格线
                           show: false,
                           lineStyle: {
                               color: '#22376d'
                           }
                       },
                       axisLine: {
                           lineStyle: {
                               color: "#fff",
                           }
                       },
                       axisLabel: {
                           formatter: '{value} min'
                       }
                   }],
                series: [
                    {
                        name: 'Rate',
                        type: 'line',
                        data: trendYield,
                        label: {
                            show: true,
                            position: 'top',
                            color:'white',
                            formatter: '{c} %'
                        },
                        lineStyle:{
                            color:'yellow'
                        },
                        //markLine:{
                        //    silent:true,
                        //    itemStyle:{
                        //        normal:{
                        //            color:'#FA8565',
                        //        }
                        //    },
                        //    data : [{
                        //        yAxis:2
                        //    }]
                        //}
                    },
                    {
                        name: 'Time',
                        type: 'bar',
                        data: alarmtimes,
                        yAxisIndex: 1,
                        label: {
                            show: true,
                            position: 'top',
                            color:'white',
                            formatter: '{c} min'
                        },
                        lineStyle:{
                            color:'yellow'
                        }
                    }]
                };
                option && myChart.setOption(option);
                myChart.resize();
                myChart.on('click',function(param){
                //console.log(param.name);

                getLatestAlarmRate(param.name);
                week = param.name;
                //getStatusDetails(week);
                })

            }
             function getdatechart(id, chartdata) {
                var chartDom = document.getElementById(id);
                var myChart = echarts.init(chartDom);

                $(window).on('resize', function () {
                    //屏幕大小自适应，重置容器高宽
                    chartDom.style.width = window.innerWidth * 1.0 + 'px';
                    chartDom.style.height = window.innerHeight * 0.4 + 'px';
                    myChart.resize();
                });
                chartDom.style.width = window.innerWidth * 1.0 + 'px';
                chartDom.style.height = window.innerHeight * 0.4 + 'px';

                function renderItem(params, api) {
                    var categoryIndex = api.value(0);//value第一个参数
                    //console.log(categoryIndex);
                    var start = api.coord([api.value(1), categoryIndex]);
                    var end = api.coord([api.value(2), categoryIndex]);
                    //console.log(start);
                    //console.log(end);
                    var height = api.size([0, 1])[1] * 0.6;

                    var rectShape = echarts.graphic.clipRectByRect({
                        x: start[0],
                        y: start[1] - height / 2,
                        width: end[0] - start[0],
                        height: height
                    }, {
                        x: params.coordSys.x,
                        y: params.coordSys.y,
                        width: params.coordSys.width,
                        height: params.coordSys.height
                    });

                    return rectShape && {
                        type: 'rect',
                        transition: ['shape'],
                        shape: rectShape,
                        style: api.style()
                    };
                }

                option = {
                    tooltip: {
                        formatter: function (params) {
                            if (params.data.alarmtext == "")
                                    return params.marker + params.name + ': ' + params.value[1] + ' ~ ' + params.value[2] + ' Duration: ' + params.data.duration;
                            else
                                    return params.marker + params.name + ': ' + params.value[1] + ' ~ ' + params.value[2] + ' Duration: ' + params.data.duration + '<br>AlarmText:<br>' + params.data.alarmtext;
                        }
                    },
                    title: {
                        text: 'Status Details'
                    },
                    dataZoom: [{
                        type: 'slider',
                        filterMode: 'weakFilter',
                        showDataShadow: false,
                        //top: 400,
                        labelFormatter: ''
                    }, {
                        type: 'inside',
                        filterMode: 'weakFilter'
                    }],
                    grid: {
                        //height: 300
                    },
                    xAxis: {
                        scale: true,
                        type: 'time'

                    },
                    yAxis: {
                        data: ['Status']
                    },
                    series: [{
                        type: 'custom',
                        renderItem: renderItem,
                        // itemStyle: {
                        //     opacity: 0.8
                        // },
                        encode: {
                            x: [1, 2],
                            y: 0
                        },
                        data: chartdata
                    }]
                };

                option && myChart.setOption(option);
                myChart.resize();
            }

            function getcodepie(id, alarmall,codelist,textlist,type) {
                //console.log(alarmall);
                var alarmArr = Object.entries(alarmall);
                //console.log(alarmArr);
                var chartDom = document.getElementById(id);
                var myChart = echarts.init(chartDom);
                //var maxtimes = (double) maxtime;
                $(window).on('resize', function () {//
                 //屏幕大小自适应，重置容器高宽
                    chartDom.style.width = window.innerWidth * 0.6 + 'px';
                    chartDom.style.height = window.innerHeight * 0.35 + 'px';
                    myChart.resize();
                });
                chartDom.style.width = window.innerWidth * 0.6 + 'px';
                chartDom.style.height = window.innerHeight * 0.35 + 'px';

                var option;

                option = {
                    title: {

                        text: 'Alarm Ratio',
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        triggerOn:'mousemove',

                        formatter:function(param){
                            var codetext = '';
                                 //int i
                        for(var i = 0;i < textlist.length;i++){
                            var item = textlist[i].AlarmCode;
                            if(item == param.name) codetext = textlist[i].AlarmText;
                        }
                        return codetext;
                        }
                    },
                    legend: {
                        data: ['Rate','Time'],
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    grid: {

                    },
                   series: [

                     {
                         name: 'Code',
                         type: type,

                         data: alarmall,
                         label: {
                             show: true,
                             formatter: '{b}({d}%)',
                             color:'white'

                         },
                         labelLine: {
                                length: 3,
                                normal: {
                                    lineStyle: {
                                        color: 'rgba(255, 255, 255, 0.3)'
                                    },
                                    smooth: 0.2,
                                    size:30
                                    //length: this.standSize / 50,
                                    //length2: this.standSize / 100,
                                }
                            }
                     }

                    ]
                };
                option && myChart.setOption(option);
                myChart.resize();
                myChart.on('on',function(param){
                    //getAlarmDetails(param.name,week);
                    //var codetext = '';
                                 //int i
                        //for(var i = 0;i < textlist.length;i++){
                            //var item = textlist[i].AlarmCode;
                            //if(item == param.name) codetext = textlist[i].AlarmText;
                       // }
                       // return codetext;
                    //for(interval i = 0;i<=)

                })

            }
            function getcodechart(id, alarmall,codelist,textlist,type,week,EQID) {
                var chartDom = document.getElementById(id);
                var myChart = echarts.init(chartDom);
                //console.log(alarmall);
                var maxTime = parseFloat(alarmall[0]);
                for(var i = 0; i < alarmall.length ; i++){

                    if(parseFloat(alarmall[i])>maxTime) maxTime = parseFloat(alarmall[i]);
                }

                $(window).on('resize', function () {//
                 //屏幕大小自适应，重置容器高宽
                    chartDom.style.width = window.innerWidth * 0.6 + 'px';
                    chartDom.style.height = window.innerHeight * 0.35 + 'px';
                    myChart.resize();
                });
                chartDom.style.width = window.innerWidth * 0.6 + 'px';
                chartDom.style.height = window.innerHeight * 0.35 + 'px';

                var option;

                option = {
                    title: {

                        text: week + "-"+EQID,
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        triggerOn:'mousemove',
                        axisPointer: {
                            type: 'cross'
                        },
                        formatter:function(param){
                            var codetext = '';
                                 //int i
                        for(var i = 0;i < textlist.length;i++){
                            var item = textlist[i].AlarmCode;
                            if(item == param.name) codetext = textlist[i].AlarmText;
                        }
                        return codetext;
                        }
                    },
                    legend: {
                        data: ['Rate','Time'],
                        textStyle:{
                            color:"#fff"
                        }
                    },
                    grid: {

                    },
                    xAxis: {
                        type: 'category',
                        axisTick: {
                            alignWithLabel: true
                        },
                        data: codelist,
                        axisLine: {
                            lineStyle: {
                               color: "#fff",
                            }
                        }
                   },
                   yAxis: [
                       {

                       },
                       {
                           type: 'value',
                           name: 'Time',
                           position: 'left',
                           min: 0,
                           max: Math.round(maxTime),
                           splitLine: {     //网格线
                               show: true,
                               lineStyle: {
                                  color: '#22376d'
                               }
                           },
                           axisLine: {
                               lineStyle: {
                                  color: "#fff",
                               }
                           },
                           axisLabel: {
                               formatter: '{value} min'
                           }
                     }
                     ],
                   series: [

                     {
                         name: 'Time',
                         type: type,
                         yAxisIndex: 1,
                         data: alarmall,
                         label: {
                             show: true,
                             position: 'top',
                             color:'white',
                             formatter: function (param) {


                    }
                         },
                         lineStyle:{
                             color:'yellow'
                         }
                     }

                    ]
                };
                option && myChart.setOption(option);
                myChart.resize();
                myChart.on('on',function(param){
                    //getAlarmDetails(param.name,week);
                    var codetext = '';
                                 //int i
                        for(var i = 0;i < textlist.length;i++){
                            var item = textlist[i].AlarmCode;
                            if(item == param.name) codetext = textlist[i].AlarmText;
                        }
                        return codetext;
                    //for(interval i = 0;i<=)

                })

            }

         })





        function showFullScreen() {

            /*判断是否全屏*/
            let isFullscreen = document.fullScreenElement//W3C
                || document.msFullscreenElement //IE11
                || document.mozFullScreenElement //火狐
                || document.webkitFullscreenElement //谷歌
                || false;

            if (!isFullscreen) {
                let el = document.documentElement;
                if (el.requestFullscreen) {
                    el.requestFullscreen();
                } else if (el.mozRequestFullScreen) {
                    el.mozRequestFullScreen();
                } else if (el.webkitRequestFullscreen) {
                    el.webkitRequestFullscreen();
                } else if (el.msRequestFullscreen) {
                    el.msRequestFullscreen();
                }
                $("#fullScreen").removeClass("fa-expand").addClass("fa-compress");
            }
            else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
                $("#fullScreen").removeClass("fa-compress").addClass("fa-expand");
            }
        }




    </script>

    @*<div class="row header text-center ">
        @* <div class="logo"><img src="/images/Logo/Logo_W_SMDi4_400x65_简.png" /> </div>
        <h3 class="title col">
        ACC-BOX Real-time Dashboard <span class="badge bg-secondary col-2" id="equipmentID"></span>

        </h3>
        <i id="fullScreen" class="controlbox fa fa-2x fa-expand" onclick="showFullScreen()" style="color:white;"></i>


        <a id="fullScreen" class="controlbox  col fa fa-expand" onclick="showFullScreen()"></a>

        </div>*@

    <div class="header">
        <div class="logo"><img src="/images/Logo/Logo_W_SMDi4_400x65_简.png" /> </div>
        <div class="title"><span>Alarm Rate Dashboard</span></div>
        <a id="fullScreen" class="controlbox fa fa-expand" onclick="showFullScreen()"></a>
    </div>

    <div class="container-fluid accdata text-center">
        <div class="row statuspanel">
            <div class="col-8 panel-item" id="statuscontent">
            </div>
            <div class="col-4 panel-item">
                <div class="row">
                    <span style="color:white;text-align:center;font-size:30px;">ACC-BOX</span>
                </div>
                <div class="row">
                    <div class="col input-group">
                        <button type="button" class="form-control btn-primary exportAlarm" id="liveToastBtn">Export AlarmData</button>
                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">

                                    <strong class="me-auto">Notice</strong>

                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body">
                                    Downloading File, please wait a moment ;)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col input-group">
                        <button type="button" class="form-control btn-primary" id="recordstartend">新增开线时间</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 fpy">

                <div id="historychart"></div>
            </div>
            <div class="col-8 yield">
                <div id="trendchart"></div>
            </div>
            @*<div class="col-sm-5">
                <div id="trendchart"></div>

                </div>
                <div class="col-sm-4 row" id="statuscontent">
                </div>*@
        </div>
        <div class="row">
            <div class="col-8 yield">
                <div id="codechart"></div>
                @*<div id="datechart" style="width: 100%;margin: 0 auto;margin-top: 0px"></div>*@
            </div>
            <div class="col-4 yield">
                <div id="codepie"></div>
                @*<div id="datechart" style="width: 100%;margin: 0 auto;margin-top: 0px"></div>*@
            </div>

        </div>
    </div>



    <div class="footer row">
        <span class="copyright">Copyright©@DateTime.Now.Year SMD All rights reserved.智能制造开发中心 版权所有</span>
    </div>
</body>



</html>