@*<a href="/Statistics/EquipmentDashboard/dashboard" target="/Statistics/EquipmentDashboard/dashboard">报表</a>*@
<a href="/Statistics/AccboxDashboard/accboxdetails" target="/Statistics/AccboxDashboard/accboxdetails">ACCBOX Details</a>
<a href="/Statistics/AccboxDashboard/accboxDashboard" target="/Statistics/AccboxDashboard/accboxDashboard">ACCBOX Overall</a>
<a href="/Statistics/AccboxDashboard/ThreeTest" target="/Statistics/AccboxDashboard/ThreeTest">Digital Twins</a>