<a href="/Statistics/EquipmentDashboard/dashboard" target="/Statistics/EquipmentDashboard/dashboard">报表</a>
<a href="/Statistics/EquipmentDashboard/sxHandlerIndex" target="/Statistics/EquipmentDashboard/sxHandlerIndex">sxHandler Jam统计</a>
<a href="/Statistics/EquipmentDashboard/sxHandlerForPd" target="/Statistics/EquipmentDashboard/sxHandlerForPd">sxHandler Stop Time统计</a>
@*<a href="/Statistics/EquipmentDashboard/accboxdetails" target="/Statistics/EquipmentDashboard/accboxdetails">ACCBOX Details</a>
<a href="/Statistics/EquipmentDashboard/accboxDashboard" target="/Statistics/EquipmentDashboard/accboxDashboard">ACCBOX Overall</a>
<a href="/Statistics/EquipmentDashboard/otmsdashboard" target="/Statistics/EquipmentDashboard/otmsdashboard">OTMS Overall</a>*@
