@{
    ViewBag.Title = "SMT线边仓看板";
}
<html>
<head>
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/Content/font/iconfont.css">
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Scripts/echartjs/dist/echarts.js"></script>

    <link rel="shortcut icon" href="~/Scripts/favicon.ico" />
    <link rel="stylesheet" href="~/Scripts/layui-2.7.6/css/layui.css">
    <script type="text/javascript" src="~/Scripts/layui/layui.all.js"></script>
    <link rel="stylesheet" href="~/Content/Stock/Stockdashboard.css" />
    <script type="text/javascript" src="~/Scripts/stock/Stockdashboard.js?v=1"></script>

</head>
<body>
    <div class="dashboard-container">
        <div class="item bi-1 row" id="dashboard-title">
            <div class='col-2 logo'><img src="~/Content/Pictures/logo/Logo_W_SMDi4_400x65_简.png" /> </div>
            <div class='col-8 row'>
                <h1 class='col-12' id="title">ZJ SMT - 线边仓</h1>
            </div>
            <div class='col-2 logo'><a id="fullScreen" class="controlbox fa fa-expand" onclick="showFullScreen()"></a></div>
        </div>
        <div class="item bi-2 row" id="chart2">
            @*日期、搜索字段框*@
            <form class="layui-form layui-form-pane" style="display:flex;align-content:center;justify-content:center;flex-wrap:wrap" action="">

                <div class="layui-form-item">
                    <div class="layui-input-inline">
                        <input type="text" autocomplete="off" id="end-date" class="layui-input layui-bg-twinkling" placeholder="结束日期">
                    </div>
                    <div class="layui-inline">
                        <input type="text" autocomplete="off" id="line" class="layui-input layui-bg-twinkling" placeholder="线体">
                    </div>
                    <div class="layui-inline">
                        <input type="text" autocomplete="off" id="orderno" class="layui-input layui-bg-twinkling" placeholder="工单">
                    </div>
                    <div class="layui-inline">
                        <input type="text" autocomplete="off" id="pn" class="layui-input layui-bg-twinkling" placeholder="料号">
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" onclick="ReloadChart()">查询</button>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn" onclick="DownloadReport()">下载报表</button>
                    </div>
                </div>
                <div class="layui-form-item ">

                </div>
            </form>
        </div>
        <div class="item bi-3 row" id="line-data-downtime">
            @*down time=alarm/(24h-idle-offline) 折线图，可输入日期段查询*@
        </div>
        <div class="item bi-4 row table-container" id="table-data-mtrlstock">
            @*列表资料，可by日期，by 线体，工单，料号查询*@
            <table id="mtrl-stock-table"></table>
        </div>
        <div class="item bi-5 row" id="line-data-loadingrate">
            @*loading rate=run time/24h 折线图，可输入日期段查询*@
        </div>
        <div class="item bi-6 row" id="bar-data-quantityoftray">
            @*盘数统计 柱状图，可输入日期段查询*@
        </div>
        <div class="item bi-7 row" id="scatter-data-CT">
            @*CT统计 折线图，可输入日期段查询*@
        </div>
        <div class="item bi-8 row" id="footer">
            <div class="copyright col-12">Copyright © @DateTime.Now.Year SMDC All rights reserved. 智能制造开发中心 版权所有</div>
            <div style="display:inline;position: absolute;width:250px;right:0" id="showTime"></div>
        </div>

    </div>

    <script type="text/javascript">

        function showFullScreen() {

            /*判断是否全屏*/
            let isFullscreen = document.fullScreenElement//W3C
                || document.msFullscreenElement //IE11
                || document.mozFullScreenElement //火狐
                || document.webkitFullscreenElement //谷歌
                || false;

            if (!isFullscreen) {
                let el = document.documentElement;
                if (el.requestFullscreen) {
                    el.requestFullscreen();
                } else if (el.mozRequestFullScreen) {
                    el.mozRequestFullScreen();
                } else if (el.webkitRequestFullscreen) {
                    el.webkitRequestFullscreen();
                } else if (el.msRequestFullscreen) {
                    el.msRequestFullscreen();
                }
                $("#fullScreen").removeClass("fa-expand").addClass("fa-compress");
            }
            else {

                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.msExitFullscreen) {
                    document.msExitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitCancelFullScreen) {
                    document.webkitCancelFullScreen();
                }
                $("#fullScreen").removeClass("fa-compress").addClass("fa-expand");
            }
        }

        var t = null;
        t = setTimeout(time, 1000);
        function time() {
            clearTimeout(t);
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();
            var m = dt.getMinutes();
            var s = dt.getSeconds();
            document.getElementById("showTime").innerHTML = y + "年" + mt + "月" + day + "日 -" + h + "时" + m + "分" + s + "秒";
            t = setTimeout(time, 1000);
        }

        layui.use(['table', 'jquery', 'form', 'laydate'], function () {
            var table = layui.table
                , form = layui.form
                , $ = layui.jquery
                , laydate = layui.laydate;

            var endday = '@DateTime.Today.ToString("yyyy-MM-dd")';

            laydate.render({
                elem: '#end-date'
                , value: endday
                , max: 0
                //, done: function (value, date, endDate) {
                //    //更新图表
                //    ReloadChart();
                //}
            });



            function ChartssetInterval() {
                //每1分钟刷新一次界面
                setInterval(function () {
                    ReloadChart();
                }, 60000);
            }

            ReloadChart();
            ChartssetInterval();
        });

        function DownloadReport() {
            var enddate = $("#end-date").val();
            var line = $("#line").val();
            var orderno = $("#orderno").val();
            var pn = $("#pn").val();
            var path = "SMTStock/DownloadReport?enddate=" + enddate + "&line=" + line + "&orderno=" + orderno + "&pn=" + pn;
            window.location = path;
        }

        function ReloadChart() {
            var enddate = $("#end-date").val();
            var line = $("#line").val();
            var orderno = $("#orderno").val();
            var pn = $("#pn").val();

            ReloadDownTimeLineChart(enddate);
            ReloadQuantityOfTrayBarChart(enddate);
            ReloadLoadingRateLineChart(enddate);
            ReloadMtrlStockTableData(line, orderno, pn);
            ReloadCTChart(enddate);
        }

        function ReloadDownTimeLineChart(enddate) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: {
                    "enddate": enddate,
                },
                url: 'SMTStock/GetDownTimeData',
                success: function (result) {
                    var chartdata = result.data;
                    var dateData = getDistinctValue(chartdata, 'DATE');
                    var rateData = getDistinctValue(chartdata, 'RATE');

                    GetRateLineChart("line-data-downtime", rateData, dateData, "设备Down Time趋势", "#BC8F8F")
                },
                error: function () {
                }
            });
        }

        function ReloadQuantityOfTrayBarChart(enddate) {

            $.ajax({
                type: 'post',
                dataType: 'json',
                data: {
                    "enddate": enddate,
                },
                url: 'SMTStock/GetQuantityOfTrayData',
                success: function (result) {
                    var chartdata = result.data;
                    var dates = getDistinctValue(chartdata, 'DAY');

                    var types = getDistinctValues(chartdata, ['COMMANDNAME']);
                    var countseries = [];
                    var legend = [];
                    types.forEach(function (currentValue, index, array) {
                        legend.push(currentValue[0]);
                        var temp = findElements(chartdata, ['COMMANDNAME'], currentValue);
                        var countsubdata = [];
                        dates.forEach(function (cv) {

                            var dayoutput = findElements(temp, ['DAY'], [cv]);
                            if (dayoutput.length == 0) {
                                countsubdata.push(0);
                            } else {
                                countsubdata.push(dayoutput[0].COMMANDQTY);
                            }
                        });

                        var countitem = {
                            name: currentValue[0],
                            type: 'bar',
                            barHeight: '100%',
                            emphasis: {
                                focus: 'series'
                            },
                            data: countsubdata,
                            label: {
                                show: true,
                                /*rotate: 25,*/
                                position: 'center',
                                /*align: 'left',*/
                                fontSize: 14,
                                color: 'white',
                                fontWeight: 'bold',
                                textStyle: {
                                    textShadowColor: 'rgba(0, 0, 0, 0.5)', // 阴影颜色
                                    textShadowBlur: 5 // 阴影模糊大小
                                },
                                formatter: function (params) {
                                    var value = parseFloat(params.value).toFixed(0)
                                    if (value > 0) {
                                        return parseFloat(params.value).toFixed(0);
                                    } else {
                                        return '';
                                    }
                                }
                            }
                        };
                        countseries.push(countitem);

                    })

                    GetSeriesBarChart("bar-data-quantityoftray", legend, countseries, dates, "出入库盘数统计")
                },
                error: function () {
                }
            });

        }

        function ReloadLoadingRateLineChart(enddate) {
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: {
                    "enddate": enddate,
                },
                url: 'SMTStock/LoadingRateData',
                success: function (result) {
                    var chartdata = result.data;
                    var dateData = getDistinctValue(chartdata, 'DATE');
                    var rateData = getDistinctValue(chartdata, 'RATE');

                    GetRateLineChart("line-data-loadingrate", rateData, dateData, "设备Loading Rate趋势", "#339933")
                },
                error: function () {
                }
            });
        }

        function ReloadMtrlStockTableData(line, orderno, pn) {
            const containerHeight = document.getElementById('table-data-mtrlstock').clientHeight;
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: {
                    "line": line,
                    "orderno": orderno,
                    "pn": pn
                },
                url: 'SMTStock/MtrlStockTableData',
                success: function (result) {
                    var tabledata = result.data;
                    var length = 0;
                    if (tabledata != null)
                        length = tabledata.length;

                    layui.table.render({
                        elem: '#mtrl-stock-table'
                        , height: containerHeight
                        , data: tabledata
                        , limit: length
                        , size: 'sm' //小尺寸的表格
                        , page: false
                        , cols: [[
                            { field: 'Line', title: '线体', rowspan: 2, align: "center" }
                            , { field: 'OrderNo', title: '工单号', rowspan: 2, align: "center", minWidth: 70 }
                            , { field: 'PN', title: '料号', rowspan: 2, align: "center", minWidth: 100 }
                            , { title: '工单', colspan: 2, align: "center" }
                            , { title: '已扫PVS', colspan: 2, align: "center" }
                            , { title: '已接收', colspan: 2, align: "center" }
                            , { title: '运送中', colspan: 2, align: "center" }
                            , { title: '方仓库存', colspan: 2, align: "center" }
                            , { title: '线边仓库存', colspan: 2, align: "center" }
                            , { title: '机器出库', colspan: 2, align: "center" }
                            , { title: '人工出库', colspan: 2, align: "center" }
                            , { title: '机器入库', colspan: 2, align: "center" }
                            , { title: '人工入库', colspan: 2, align: "center" }
                        ],
                        [
                            { field: 'QuantityInOrder', title: '总数量', align: "center", minWidth: 70 }
                            , { field: 'TrayInOrder', title: '总盘数', align: "center" }
                            , { field: 'UsedQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'UsedTray', title: '盘数', align: "center" }
                            , { field: 'ReceivedQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'ReceivedTray', title: '盘数', align: "center" }
                            , { field: 'DeliveringQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'DeliveringTray', title: '盘数', align: "center" }
                            , { field: 'StockQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'StockTray', title: '盘数', align: "center" }
                            , { field: 'SMTStockQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'SMTStockTray', title: '盘数', align: "center" }
                            , { field: 'AutoOutQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'AutoOutTray', title: '盘数', align: "center" }
                            , { field: 'ManualOutQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'ManualOutTray', title: '盘数', align: "center" }
                            , { field: 'AutoInQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'AutoInTray', title: '盘数', align: "center" }
                            , { field: 'ManualInQuantity', title: '数量', align: "center", minWidth: 70 }
                            , { field: 'ManualInTray', title: '盘数', align: "center" }
                            ]]
                        , done: function (res, curr, count) {

                            
                        }
                    });

                },
                error: function () {
                }
            });
        }

        function ReloadCTChart(enddate) {//散点图
            $.ajax({
                type: 'post',
                dataType: 'json',
                data: {
                    "enddate": enddate,
                },
                url: 'SMTStock/GetCTData',
                success: function (result) {
                    var chartdata = result.data;

                    var types = getDistinctValues(chartdata, ['COMMANDNAME']);
                    var series = [];
                    var legend = [];
                    types.forEach(function (currentValue, index, array) {
                        legend.push(currentValue[0]);
                        var temp = findElements(chartdata, ['COMMANDNAME'], currentValue);

                        var ctdata = [];

                        for (var i = 0; i < temp.length; i++) {
                            ctdata.push({
                                value: [temp[i]["DATESTR"], temp[i]["CT"], temp[i]["COMMANDNAME"], temp[i]["REELID"], temp[i]["PN"]]
                            });
                        }

                        var item = {
                            name: currentValue[0],
                            type: 'scatter',
                            data: ctdata,
                            emphasis: {
                                focus: 'series'
                            },
                        }

                        series.push(item);
                    });

                    GetCTScatterChart("scatter-data-CT", legend, series, "CT统计");
                },
                error: function () {
                }
            });
        }

    </script>

</body>
</html>